{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section container">
      <div class="row justify-content-md-between ml-4 align-items-center ">
        <div class='col-md-'>
          <a href="#"><img width='100' src="{{user.profile.image.url}}" alt=""><span class='ml-4'>{{ user.username }}</span></a>
        </div>
        <div class='mr-4'>
          <a class='mr-4' href="{% url 'add-media'%}">Add media</a>
          <a class='mr-4' href="{% url 'change_username' %}">Change Username/E-mail</a>
          <a  href="{% url 'change_password' %}">Change Password</a>
          {% comment %} <a href="{% url 'change_username' %}">E-mail</a> {% endcomment %}
        </div>
      </div>
    </div>
    <div class="content-section">
      <h2 class='center'>Your Medias</h2>
          {% for media in media_images %}
            <div class="profile-content-and-manage">
              <div class="profile-content-div">
                  <p class='profile-paragraph-image paragraph-image-name'>{{media.image_name}}</p>
                  <p class='profile-paragraph-image paragraph-image-description'>{{media.image_description}} </p>
                  <img  height="97px" class='profile-image' src='{{media.image_image.url}}'>
              </div>
              <div class="profile-manage-div">
                <a href="{% url 'delete_view' media.id%}"  ><p class="profile-paragraph-image profile-paragraph-image-delete"> X</p></a>
                <a href="{% url 'edit_post' pk=media.pk %}"><span class="profile-paragraph-image">Edit</span></a>
              </div>
            
            </div>
          {% endfor %}
    </div>
{% endblock content %}
